.self > div:global(.ant-list-item-content) {
  justify-content: flex-end;
}
.chatBox {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  width: 100%;
  position: fixed;
  bottom: 3px;
  height: 30px;
  padding: 0 2px;
}
.chatBox > button {
  margin-left: 2px;
}

.list {
  padding: 10px;
}
.listWrapper {
  height: calc(100% - 35px);
  overflow: auto;
}
:global(.client) {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}
:global(.client) > div:global(.ant-list-item-content) {
  justify-content: center;
}
.newClient {
  color: #4caf50;
}
.leaveClient {
  color: #ff5722;
}
.renameClient {
  color: #ff9800;
}
.reconnectClient {
  color: #8bc34a;
}
.douClient {
  color: #2196F3;
}
